<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body>
    <header><%- include('./partials/navbar'); %></header>
    <h1><%= "Welcome to node server" %></h1>
    <script src="/scripts/script.js"></script>
  </body>
</html>
